{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Sony Products</title>
<section class="header">

    <div class="text-box">
        <h1>Reviews on Sony Products</h1>
    </div>
</section>
<link rel="stylesheet" href="{% static 'revi.css' %}">

<div class="container">
    <div class="list-wrapper">
            <div class="list-item">
                    <div class="content">
                        <img src="https://www.mechta.kz/export/1cbitrix/import_files/b8/b8a6297f-3752-11ea-a22d-005056b6dbd7-1024.webp" alt="">
                        <div class = "text">
                                <h3>Sony Alpha 7 ii</h3>
                                <p>Price: 2198$</p>
                        </div>
                    </div>

                    <div class="description">
                        <div class="d-text">
                            <h3>Full-frame Mirrorless Camera</h3>
                            <p>TAdvanced 24.2MP BSI Full-frame Image Sensor w/ 1.8X readout speed Advanced 24.2MP Back-Illuminated 35mm Full-frame Image Sensor
                                15-stop dynamic range, 14-bit uncompressed RAW, ISO 50 to 204,800
                                Up to 10fps Silent or Mechanical Shutter with AE/AF tracking
                                693 phase-detection / 425 contrast AF points w/ 93% image coverage
                                In the box: SEL2870 lens, Lens hood, Lens cap, Lens rear cap, Rechargeable Battery (NP-FZ100), AC Adapter (AC-UUD12), Shoulder strap, Body cap, Accessory shoe cap, Eyepiece cup, Micro USB cable(amazon, 2022)</p>
                        </div>
                    </div>
            </div>
            <div class="list-item">
                <div class="content">
                    <img src="https://www.ixbt.com/img/n1/news/2021/10/1/Xperia-PRO-I_group_frostedBlack-1-scaled_wresized_w964_large.jpg" alt="">
                    <div class = "text">
                            <h3>Sony Xperia Pro 1</h3>
                            <p>Price: 1914$</p>
                    </div>
                </div>

                <div class="description">
                    <div class="d-text">
                        <h3>Xperia</h3>
                        <p>The letter "I" stands for imagination. Xperia PRO-I offers a new way of looking at the camera: a combination of professional image quality and smartphone connectivity. So that you can express yourself anytime, anywhere. An impressive 2.4µm pixel pitch in a 1.0 format sensor ensures high sensitivity, contributing to excellent image texture detail even in low light conditions. Thanks to the high-sensitivity 1.0-size sensor, photos taken with Xperia PRO-I have less noise even in low light(sony.ru, 2021).</p>
                    </div>
                </div>
        </div>
        <div class="list-item">
            <div class="content">
                <img src="https://www.technodom.kz/_next/image?url=https%3A%2F%2Fapi.technodom.kz%2Ff3%2Fapi%2Fv1%2Fimages%2F800%2F800%2F176688_1.jpg&w=3840&q=85" alt="">
                <div class = "text">
                        <h3>Sony WH-CH510</h3>
                        <p>Price: 60$ </p>
                </div>
            </div>

            <div class="description">
                <div class="d-text">
                    <h3>Worthy Headphones!</h3>
                    <p>With WH-CH510 wireless earphones that are lightweight and have a long battery life, you can enjoy listening to music all day long. Connect your headphones to your smartphone or tablet via Bluetooth® wireless technology and enjoy your favorite music. The battery provides as much as 35 hours of operation, so it will last even for the longest trip. And with a 10-minute quick charge, the earphones will give you another 90 minutes of listening to your favorite tracks. Headphones can be customized to suit your style as they are available in three colors: black, blue and white2. Everything in them speaks of beauty and comfort - color, texture and quality of materials(sony, 2022).</p>
                </div>
            </div>
    </div>
</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
</script>
<div class="footer">
    <a href="https://youtube.com"><i class="fab fa-youtube"></i></a>
    <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
    <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
</div>
<hr>
<center>
    <p>Weirdos, MT-2102</p>
</center>
{% endblock content %}